---
layout: home
title: Spice Program - Futurice Social Impact Program
---

<div class="row" id="page-home">
  <!-- Chilicorns! -->
  <img class="floating-chilicorn" src="/assets/img/chilicorn_sticker.svg" style="top: 0px; left: -20%; transform: rotate(-15deg); width: 40%;">
  <img class="floating-chilicorn" src="/assets/img/chilicorn_sticker.svg" style="top: 80%; left: -10%; transform: rotate(-180deg); width: 20%; ">
  <img class="floating-chilicorn" src="/assets/img/chilicorn_sticker.svg" style="top: 120%; left: -15%; transform: rotate(-40deg); width: 20%">

  <img class="floating-chilicorn" src="/assets/img/chilicorn_sticker.svg" style="top: 5%; right: -15%; transform: rotate(10deg); width: 30%;">
  <img class="floating-chilicorn" src="/assets/img/chilicorn_sticker.svg" style="top: 60%; right: -10%; transform: rotate(190deg); width: 20%;">
  <img class="floating-chilicorn" src="/assets/img/chilicorn_sticker.svg" style="top: 700px; right: -15%; transform: rotate(65deg); width: 25%;">
  <!-- /chilicorns -->

  <div class="index-header hero">
    <div id="landingtext">
      <div class="title">
        <h1 class="title">It's payback time</h1>
      </div>

      <div class="description">
        <p class="lead">Spice is a company sponsored open source and social impact program. Our goal is to make Futurice a better company and the world a better place.</p>
      </div>
    </div>
    <div class="index-activities">
      <a href="/open-source" class="col-xs-12 col-sm-6 index-activity">

        <h2 class="activity-title">Open Source</h2>
        <div class="activity-description">
          <p class="lead small">Spice is a company sponsored open source and social impact program. Our goal is to make Futurice a better company and the world a better place.</p>
        </div>

      </a>

      <a href="/education" class="col-xs-12 col-sm-6 index-activity">

        <h2 class="activity-title">Education</h2>
        <div class="activity-description">
          <p class="lead small">Spice is a company sponsored open source and social impact program. Our goal is to make Futurice a better company and the world a better place.</p>
        </div>
    
      </a>

    </div>
  </div>

  
</div>
<div class="row page-bg">
  <div class="container">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="section-title">Blog</h3>
        </div>
      </div>


      {% for blog in site.data.blogs limit:6 %}
        {% assign loopindex = forloop.index | modulo: 3 %}

        {% if loopindex == 1 %}
          <div class="row blog-row">
        {% endif %}
            <div class="col-xs-12 col-sm-6 col-md-4 blog">
              <div class="blog-box">
                <div class="img-container">
                  <img src="{{ blog.img_link }}" class="blog-img">
                </div>
                <div class="blog-info">
                  <a href="{{ blog.link }}" class="blog-link">
                    <h3 class="blog-title">{{ blog.title }}</h3>
                    <p class="blog-description">{{ blog.description }}</p>
                  </a>
                </div>
              </div>
            </div>
        {% if loopindex == 0 %}
          </div>
        {% endif %}

        {% if forloop.last == true %}
          {% if loopindex != 0 %}
          </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
