---
layout: activity
title: Spice Program - Open Source
header: Open Source
description: It's time to give back to the community.
---
<div class="row">
  <div class="col-xs-12 col-md-3">
    <ul id="sidenav">
      <li><a href="#">Asd</a></li>
      <li><a href="#">Asd</a></li>
      <li><a href="#">Asd</a></li>
      <li><a href="#">Asd</a></li>
    </ul>
  </div>
  <div class="col-xs-12 col-md-9">

    <div class="row">

      <div class="col-sm-12 col-md-8">
        <div class="row">
          <div class="col-sm-12 center col-header">
            <h2>Recent posts</h2>
            <a href="/posts/open-source">See all posts</a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 post-box">

          </div>

          <div class="col-xs-12 col-sm-6 post-box">
          </div>
          <div class="col-xs-12 col-sm-6 post-box">

          </div>

          <div class="col-xs-12 col-sm-6 post-box">
          </div>

         
        </div>
      </div>

      <div class="col-sm-12 col-md-4">
        <div class="row">
          <div class="col-sm-12 center col-header">
            <h2>Guides</h2>
          </div>
        </div>
        <div class="row">
           <div class="col-xs-12 col-sm-6 col-md-12 guide-box">
            <div class="guide-information">
              <h3 class="guide-title">Getting started with open source</h3>
              <p>Developers, designers, everyone!</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-12 guide-box">
            <div class="guide-information">
              <h3>Ultimate guide to open source licenses</h3>
              <p>Puzzled by GPL? Look no further.</p>
            </div>
          </div>
        </div>
      </div>


    </div>
      




    <div class="row">
      <div class="col-sm-12 center col-header">
        <h2>Projects</h2>
        <a href="/projects">See all projects</a>
      </div>
    </div>

    <div class="row section-title">
      <div class="col-sm-12">
        <h4 class="underlined">FUTURICE</h4>
      </div>
    </div>

    <!-- COMPANY PROJECTS -->
    {% for project in site.data.futurice-opensource-projects %}
      {% assign loopindex = forloop.index | modulo: 3 %}

      {% if loopindex == 1 %}
      <div class="row project-row">
      {% endif %}
        <div class="col-xs-12 col-sm-6 col-md-4 project">
          <div class="project-box">
            <div class="row">
              <div class="col-xs-4">
                <div class="img-container">
                  <img src="{{ project.img_link }}" class="project-img">
                </div>
              </div>
              <div class="col-xs-8">
                <div class="project-information">
                  <a href="{{ project.github }}">
                    <h3 class="project-title">{{ project.title }}</h3>
                  </a>
                  <span class="contribution-information">12 commits - 5 starts</span>
                </div>
              </div>
            </div>
            <div class="row project-box-footer">
              <div class="col-xs-6">
                <a href="{{ project.github }}">Github</a>
              </div>
              <div class="col-xs-6">
                <a href="/#">Project page</a>
              </div>

            </div>
          </div>
        </div>
      {% if loopindex == 0 %}
      </div>
      {% endif %}

      {% if forloop.last == true %}
        {% if loopindex != 0 %}
        </div>
        {% endif %}
      {% endif %}

    {% endfor %}

    <div class="row section-title">
      <div class="col-sm-12">
        <h4 class="underlined">PERSONAL PROJECTS</h4>
      </div>
    </div>

    <!-- PERSONAL PROJECTS -->
    {% for project in site.data.personal-opensource-projects %}
      {% assign loopindex = forloop.index | modulo: 3 %}

      {% if loopindex == 1 %}
      <div class="row project-row">
      {% endif %}
        <div class="col-sm-12 col-sm-6 col-md-4 project">
          <div class="project-box">
            <div class="row">
              <div class="col-xs-4">
                <div class="img-container">
                  <img src="{{ project.img_link }}" class="project-img">
                </div>
              </div>
              <div class="col-xs-8">
                <div class="project-information">
                  <a href="{{ project.github }}">
                    <h3 class="project-title">{{ project.title }}</h3>
                  </a>
                  <span class="contribution-information">12 commits - 5 starts</span>
                </div>
              </div>
            </div>
            <div class="row project-box-footer">
              <div class="col-xs-6">
                <a href="{{ project.github }}">Github</a>
              </div>
              <div class="col-xs-6">
                <a href="/#">Project page</a>
              </div>

            </div>
          </div>
        </div>
      {% if loopindex == 0 %}
      </div>
      {% endif %}

      {% if forloop.last == true %}
        {% if loopindex != 0 %}
        </div>
        {% endif %}
      {% endif %}

    {% endfor %}

  </div>
</div>


