
<div class="container" style="padding-top: 40px;">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2" style="padding: 40px; display: inline-block; z-index: 1; background-color: #f3f3f4;">
            <a href="{{ site.baseurl }}/why" class="pull-left">
                <div class="col-sm-10 arrow-box">
                    <h3>Why are we doing this?</h3>
                    <p>Our company both advocates and benefits from making use of open source software when we build software ...</p>
                </div>
                <div class="col-sm-2 pull-right hidden-xs" style="vertical-align: middle;">
                    <div class="arrow-right"></div>
                </div>
            </a>
        </div>
        <a href="{{ site.baseurl }}/choose">
            <div class="col-sm-4 box brown centered">
                <img class="small-icon" src="{{ site.baseurl }}/assets/img/choose_big.svg" />
                <h3>Choosing a license</h3>
                <p>How to choose the best license for your project</p>
            </div>
        </a>
        <a href="{{ site.baseurl }}/licenses">
            <div class="col-sm-4 box grey centered">
                <img src="{{ site.baseurl }}/assets/img/popular.svg" />
                <h3>Common open source licences</h3>
                <p>Check out our summaries for the 13 most common licenses.</p>
            </div>
        </a>
        <a href="{{ site.baseurl }}/cc">
            <div class="col-sm-4 box orange centered">
                <img src="{{ site.baseurl }}/assets/img/cc.svg" />
                <h3>Creative commons</h3>
                <p>What is creative commons? How can it be used?</p>
            </div>
        </a>
    </div>
</div>
