<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ page.description }}">
<meta name="author" content="">

<title>{{ page.title }}</title>

<link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/logo/chilicorn_no_text-64.png">
<link href="https://fonts.googleapis.com/css?family=Space+Mono:400,700" rel="stylesheet">

<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/css.css" />

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

{% if page.custom_js %}
  {% for js_file in page.custom_js %}
    <script src="{{ site.baseurl }}/assets/js/{{ js_file }}" type="text/javascript"></script>
  {% endfor %}
{% endif %}

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TJHK5D');</script>
<!-- End Google Tag Manager -->