{% assign url_parts = page.url | split: '/' %}
{% assign url_parts_size = url_parts | size %}
{% assign rm = url_parts | last %}
{% assign base_url = page.url | replace: rm %}

<div id="topnav">
  <div class="left-col">
    <a href="/" id="logo">
      <img src="{{ site.baseurl }}/assets/img/futurice-favicon.png" id="nav-logo" alt="Futurice logo" />
      <span id="nav-title">Spice</span>
    </a>
  </div>

  <div class="right-col">

    <ul id="mainnav">
      {% for node in site.data.menu %}
      <li>
        <a href="{{ site.url }}{{ node.href }}" {% if node.href == base_url %}class="active"{% endif %}>{{ node.title}}</a> 
      </li>
      {% endfor %}
    </ul>

    <a href="https://github.com/futurice">
      <div id="nav-github-link">
        <span id="github-icon" class="mega-octicon octicon-mark-github"></span>
        <span id="github-box-title">Futurice</span>
      </div>
    </a>
  </div>
</div>
