<div id="topnav">
  <div class="left-col">
    <a href="/" id="logo">
      <img src="{{ site.baseurl }}/assets/img/futurice-favicon.png" id="nav-logo" alt="Futurice logo" />
      <span id="nav-title">Spice</span>
    </a>
  </div>

  <div class="right-col">

    <ul id="mainnav">
      {% for dale in site.data.menu %}
      <li>
        <a href="{{ site.url }}{{ dale.href }}" {% if page.url == dale.href %}class="active"{% endif %}>{{ dale.title}}</a>
      </li>
      {% endfor %}
    </ul>

    <a href="https://github.com/futurice">
      <div id="nav-github-link">
        <span id="github-icon" class="mega-octicon octicon-mark-github"></span>
        <span id="github-box-title">Futurice</span>
      </div>
    </a>
  </div>
</div>
