<div id="topnav">
  <div class="left-col">
    <a href="/" id="logo">
      <img src="{{ site.baseurl }}/assets/img/futurice-favicon.png" id="nav-logo" alt="Futurice logo" />
      <span id="nav-title">Spice</span>
    </a>
  </div>

  <div class="right-col">

    <ul id="mainnav">
      <!--<li>
        <a href="/about-spice">About Spice</a>
      </li>-->
      <li>
        <a href="/open-source">Open source</a>
      </li>
      <li>
        <a href="/education">Education</a>
      </li>
      <!--<li>
        <a href="/blog">Blog</a>
      </li>
      <li>
        <a href="/people">People</a>
      </li>-->
    </ul>

    <a href="https://github.com/futurice">
      <div id="nav-github-link">
        <span id="github-icon" class="mega-octicon octicon-mark-github"></span>
        <span id="github-box-title">Futurice</span>
      </div>
    </a>
  </div>
</div>
