!= partial("_header")

div.fullscreen-cont
    div.fullscreen-img.fourth
    div.content.padded
        h1(style="color: #f2f2f2;") Short history of Open Source
        div.ingress This chapter is largely a summary of the Wikipedia article on History of Free and open-source software, complemented with some information tidbits and shameless opinions.
div.read-more-button
    div.read-more: a(href="#start") read more
    div.arrow-down

p.quote "I think, fundamentally, open source does tend to be more stable software. It's the right way to do things." --Linus Torvalds

div#start.thin-padded!= partial("_history")

div#box
    div(style="display: inline-block;").whys
        a(href="why", style="float: left;")
            div(style="").box-container
                strong Why are we doing this?
                div If you work with software, any software, you should have a basic understanding of the concepts and ...
            div.arrow-right
div(style="height: 50px;")
div.vertical
        div.choose
            div
                a(href="{{ site.baseurl }}/choosing")
                    img(src="choose_big.svg", style="width: auto; max-width: 95%;")
                    h3 Choosing a license
                    p.box How to choose the best license for your work?
        div.common
            div
                a(href="{{ site.baseurl }}/licenses")
                    img(src="popular.svg", style="width: auto; max-width: 95%;")
                    h3 Common open source licenses
                    p.box Check out our summaries for the 13 most common licenses.
        div.creative
            div
                a(href="{{ site.baseurl }}/cc")
                    img(src="cc.svg", style="width: auto; max-width: 95%;")
                    h3 Creative commons
                    p.box What is creative commons? How can it be used?
    div.clear

div(style="height: 50px;")
