---
layout: default
title: Spice Program - How to establish a similar program?
---

<div class="container content centered">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 top-level">
            <h1>How to establish a similar program?</h1>
            <div>It is essential that you start by defining your motivation. Why do you consider it important to have an open source program?</div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <p class="quote">"I think, fundamentally, open source does tend to be more stable software. It's the right way to do things." --Linus Torvalds</p>
        </div>
        <div class="col-md-8 col-md-offset-2 article">
            {% capture how %}{% include how.md %}{% endcapture %}
            {{ how | markdownify }}
    </div>
</div>

{% include bottom-banner.html %}