.form__input {
  padding: 0.5rem 0.7rem;
  margin-bottom: 0.5rem;
  border: 1px solid white;
  font-size: 18px;
  transition: 0.2s all;
  opacity: 0.6;
  width: 100%;

  &:focus {
    outline: none;
    opacity: 1;
  }
}

.form__submit {
  appearance: none;
  border: 0;
  padding: 0.5rem 2rem;
  font-size: 18px;
  color: white;
  background: $yellow-button;
  position: relative;
  margin-right: -1.6rem;
  cursor: pointer;
  width: auto;

  &:active, &:focus {
    outline: none;
    background: white;
    color: #9f6ce3;
    border-color: white;
  }
}

/****** NEWSLETTER FORM ******/
section.newsletter {
  .form-wrapper {
    margin-left: -1.4rem;
  }
  .signup.form {
     text-align: left;
     max-width: 500px;
     min-width: 300px;
     margin: auto;

     label {
      font-size: $size-medium;
      display: inline-block;
      margin: 0.4em 0 0.2em 0;
     }

     .submit__row {
        margin-top: 1rem;
        width: 100%;
        text-align: right;
        min-width: 300px;
     }

  }

   @media screen and (max-width: $tablet) {
    .signup.form {
      max-width: auto;
      width: 90%;
    }

    p {
      max-width: 30rem;
    }
   }

}
