.form__input {
  padding: 0.5rem 0.7rem;
  margin-bottom: 0.5rem;
  border: 1px solid white;
  border-radius: 4px;
  font-size: 18px;
  transition: 0.2s all;
  opacity: 0.6;

  &:focus {
    outline: none;
    opacity: 1;
  }
}

.form__submit {
  appearance: none;
  border: 1px solid white;
  padding: 0.5rem 0.7rem;
  border-radius: 4px;
  font-size: 18px;
  color: white;
  background: #9f6ce3;
  cursor: pointer;

  &:active, &:focus {
    outline: none;
    background: white;
    color: #9f6ce3;
    border-color: white;
  }
}