/******************************   CHILICORN FUND PAGE ****************************/

@media screen and (max-width: $mobile) {
  .fund-title {
    font-size: 36px;
  }
}

 .btnyellow {
  background-color: $yellow-button;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);

}
/* overrule other .hero */
.chilicorn.hero {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  min-height: 400px;
  background-color: #615a47;
  background-image: url('../img/fund/chilicorn-world-no-clouds-no-corn.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  h1, h2, p, a, a:hover, a:visited, a:active {
    color: white;
    text-shadow: 1px 1px 1px gray;
  }

  p.language {
     position: absolute;
     right: 1.5rem;
     top: 0.5rem;
  }
 
/*   h1 {
    font-size: $size-large;
    
    @media screen and (min-width: $mobile) {
      font-size: $size-huge;
      line-height: 1;
    }

    @media screen and (min-width: $tablet) {
      font-size: $size-hero;
      line-height: 1;
    }
  }
 */
  h2 {
    font-weight: 600;
    opacity: 1;
  }

  .container {
    z-index: 100;
  }
}

.cloud {
  position: absolute;
  z-index: 50;
  left: 0;
  top: 0;
  width: 10rem;
}

.cloud-one {
  width: 10rem;
  top: 1rem;
}

.cloud-two {
  top: 13rem;
}

.cloud-three {
  top: 7rem;
}

.cloud-four {
  top: 11rem;
}

.cloud-five {
  top: 4rem;
}

.chilicorn-static {
  position: absolute;
  left: 33%;
  bottom: 5%;
  width: 110px;
}

/****** NEWSLETTER AD ******/
.newsletter {
  background: #9F6CE3;
  color: white;

  p {
    max-width: 36em;
    font-size: $size-medium;
  }

  h2 {
    color: white;
  }

  .btn {
    margin-bottom: 0;
    margin-top: 1em;
  }
}

/******  WHO FOR ********/
/* same with AIMS */

section.who-for {
  text-align: center;

  @media screen and (max-width: $tablet) {
    padding-bottom: 0;
  }

  .who {
    margin-bottom: $item-spacing;
    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: $tablet) {
    .who {
      @include span(4);

      h3 {
        min-height: 2em;
      }
    }

    img {
      margin-bottom: 10px;
    }    
  }
}

/******  HOW IT WORKS ********/
.how-it-works {
  a {
    border: 0;
  }
}
  @media screen and (max-width: $tablet) {
    .how-it-works__image img {
      display: block;
      width: 80%;
      max-width: 480px;
      margin: 2rem auto 0 auto;
    }
  }
  @media screen and (min-width: $tablet) {
    section.how-it-works {
      padding-top: 0;

      .container, p {
        text-align: left;
      }
      p {
        max-width: none;
        margin: 0;
      }
    }

    .how-it-works__content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .how-it-works__description {
      width: calc(40% - 2rem);
    }

    .how-it-works__image {
      width: calc(60% - 2rem);
    }
  }

/******  CRITERIA ********/
.criteria {
  background-color: $purple;

  h2 {
    color: white;
  }

  .gallery {
    @extend %clearfix;     
  }

  .criterion {
    margin-bottom: $item-spacing / 2;
    @media screen and (min-width: $mobile) {
      margin-bottom: $item-spacing;
    }
    h3 {
      color: $yellow-text;
    }

    p {
      color: white;
    }
  }

  @media screen and (min-width: $tablet) {
    .criterion {
      @include gallery(6 of 12);
    }  

    img {
      margin-bottom: 10px;
    }    
  }

  @media screen and (min-width: $desktop) {
    .criterion {
      @include gallery(4 of 12);
    }
  }
}

/****** SELECTION PROCESS ******/
.selection-process {

  h2 {
    padding-bottom: $section-title-padding-to-image;
  }

  .step {
    margin-bottom: 4rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .step__image {
    img {
      max-width: 18rem;
    }
  }

  h3 {
    font-size: $size-large;
  }

  @media screen and (min-width: $tablet) {
    .step {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-align: left;

      p {
        text-align: left;
        max-width: none;
      }
    }
    .step__image {
      width: calc(45%);
      text-align: right;
    }
    .step__content {
      width: calc(50%);
    }
  }
}

/****** PROJECTS ******/

section.projects {
   background-color: #ececec;
}

/*.project {
  margin-bottom: 2rem;

  @media screen and (max-width: $tablet) {
    img {
      max-width: 15rem;
    }
  }

  @media screen and (min-width: $tablet) {
    @include span(6);
    text-align: left;

    p {
      text-align: left;
    }
  }
}

a.project-image {
  border-bottom: 0;
}
*/


/****** CASE STUDIES ******/
section.purple, section.case-study {
  h2 {
    font-family: Futurice;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 21px;

    @media (min-width: $tablet) {
      font-size: 55px;
    }
  }

  p {
    max-width: 100%;
    text-align: left;
  }

  .left, .right {
    @media screen and (min-width: $tablet) {
      display: inline-block;
      max-width: calc(50% - 59px);
      vertical-align: top;
      box-sizing: border-box;

      &:not(:last-child) {
        margin-right: 59px;
      }
    }

    @media screen and (min-width: 500px) {
      text-align: left;
    }
  }

  .contributor {
    margin-bottom: 50px;

    .name {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.25;
      text-align: center;
      color: #e4c554;
      margin: 20px 0 3px 0;
    }

    .position, .company {
      line-height: 1.3;
      text-align: center;      
    }

    img {
      max-width: 300px;
    }
  }

  .technology {
    margin-bottom: 50px;

    a {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.25;
      color: #464c67;
      margin-bottom: 10px;
      display: inline-block;
    }

    p {
      text-align: center;
    }
  }

  a.button {
    padding: 13px 24px;
    color: #ffffff;
    background-color: #fdc00d;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    border: 0;
    margin-top: 28px;
    margin-left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;

    &.double-arrow {
      @media (max-width: $mobile) {
        font-size: 16px;
        white-space: initial;
        text-align: center;
        box-sizing: border-box;
        width: 80%;
      }

      .caret-down {
        display: block;
        text-align: center;
        transform: rotate(-90deg);
        font-size: 2rem;
        font-weight: 400;
        width: 100%;
        line-height: 18px;
        margin-top: 15px;
        margin-bottom: -10px;
      }

      &:before {
        content: '';
        background: url(/assets/img/ccf/arrow-end-left.png);
        height: 100%;
        width: 20px;
        position: absolute;
        top: 0;
        left: -19px;
        background-size: cover;

        @media (max-width: $mobile) {
          width: 24px;
          left: -23px;
        }
      }
    }

    &.double-arrow {
      &:after {
        content: '';
        background: url(/assets/img/ccf/arrow-end-right.png);
        height: 100%;
        width: 20px;
        position: absolute;
        top: 0;
        right: -19px;
        background-size: cover;

        @media (max-width: $mobile) {
          width: 26px;
          right: -24px;
        }
      }
    }
  }

  .image-row {
    max-width: 100%;
    margin-top: 18px;
  }

  .width-33 {
    width: 100%;
    display: inline-block;
    vertical-align: top;

    @media (min-width: $tablet) {
      max-width: calc(33% - 18px);
      margin-right: 18px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
  .width-50 {
    width: 100%;
    display: inline-block;
    vertical-align: top;

    @media (min-width: $tablet) {
      max-width: calc(50% - 18px);
      margin-right: 18px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

section.case-study {
  max-width: 823px;
  width: 100%;
  margin: 0 auto;

  ul {
    text-align: left;
    list-style-type: initial;
  }

  .button {
    color: initial !important;
  }

  img {
    max-width: 100%;
    width: 100%;
  }

  .tags {
    margin-bottom: 16px;
    text-align: left;

    & > * {
      display: inline-block;
      color: #16b1f6;
      margin-right: 20px;
      line-height: 1.5;

      @media (min-width: $tablet) {
        margin-right: 28px;
        line-height: 1.4;
      }
     
      @media (min-width: $desktop) {
        margin-right: 35px;
      } 
    }

    @media (min-width: $desktop) {
      margin-bottom: 42px;
      text-align: center;
    }
  }
}

section.purple {
  background-color: #9f69e3;
  color: #ffffff;

  h2 {
    color: #ffffff;
  }

  a {
    color: #e4c554;
    text-decoration: none;
  }

  &.links {
    p {
      white-space: nowrap;
    }
  }
}

/*** SHOW CASE HERO BANNERS ***/
.chilicorn.hero {
  min-height: 200px;

  @media (min-width: $tablet) { 
    min-height: 300px;
  }

  @media (min-width: $desktop) {
    min-height: 400px;
  }

  
}

.chilicorn.hero.hemmo {
  background-image: url('../img/fund/hemmo/hemmo-hero-small.jpg');

  @media (min-width: $tablet) {
    background-image: url('../img/fund/hemmo/hemmo-hero-large.jpg');
  }
}

.chilicorn.hero.arms {
  background-image: url('../img/fund/arms/arms-hero-small.jpg');

  @media (min-width: $tablet) {
    background-image: url('../img/fund/arms/arms-hero-large.jpg');
  }

  @media (min-width: $desktop) {
    background-image: url('../img/fund/arms/arms-hero-xlarge.jpg');
  }

}
