---
---
@import "susy";

$susy: (
  columns: 12,
  gutters: 1,
  math: fluid,
  output: float,
  gutter-position: inside,
);

/* Grid cointainer */
.container {
  @include container; 
  width: 1200px;
  max-width: 90%;
  position: relative;
  text-align: center;
}

@import "form";

%clearfix {
    *zoom: 1;
    &:before,
    &:after {
        display: table;
        content: "";
        // Fixes Opera/contenteditable bug:
        // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
        line-height: 0;
    }
    &:after {
        clear: both;
    }
}


/* General Breakpoints */
$mobile: 500px;
$tablet: 800px;
$desktop: 1024px;

/* General measures */
$h-padding: 10px;
$section-padding: 70px;
$item-spacing: 40px;

/* Typographic scale. Only use these font-sizes */
$size-tiny: 12px;
$size-small: 14px;
$size-base: 18px;
$size-medium: 23px;
$size-large: 38px;
$size-huge: 53px;

/* Colours */
$body: #4A515E;
$headlines: #303031;
$blue: #45A4FC;
$gray-text: #6b6b6b;
$gray-text-lighter: #9c9c9c;

/* Resets */
* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

/**** Main styles ****/
h1 {
  text-align: center;
  font-size: $size-huge;
  font-weight: 700;
  padding-bottom: 10px;
  font-family: "Space mono";
}

h2 {
  font-size: $size-huge;
  font-weight: 400;
  padding-bottom: 30px;
}

h3 {
  font-size: $size-medium;
  padding-bottom: 15px;
  padding-top: 15px;
  font-weight: 500;
}

h4 {
  font-size: $size-medium;
}

h1, h2, h3, h4 {
  line-height: 1.1;
  color: $headlines;
}

p {
  max-width: 30em;
  margin: auto auto;
  text-align: center;
  padding-bottom: 0.5em;
}

a {
  color: #333;
}

ul {
  list-style-type: square;
}

li {
  margin-left: 20px;
  padding-bottom: 10px; 
}

a, a:visited, a:hover {
  text-decoration: none;
  border-bottom: 1px solid;
}

html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;;
  font-size: $size-base;
  text-rendering: optimizeLegibility;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  color: $body;
}


#shareThisLink {
  cursor: pointer;
}

a.tooltips {
  position: relative;
  display: inline;
}

a.tooltips span {
  position: absolute;
  font-size: 12px;
  width:140px;
  color: #FFFFFF;
  background: #000000;
  height: 30px;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
}

a.tooltips span:after {
  content: '';
  position: absolute;
  top: 0%;
  right: 50%;
  margin-top: -15px;
  width: 0; height: 0;
  border-bottom: 8px solid #000000;
  border-right: 8px solid transparent;
  border-top: 8px solid transparent;
}

a:hover.tooltips span {
  visibility: visible;
  opacity: 0.8;
  left: 0%;
  top: 100%;
  margin-top: 4px;
  margin-left: 13px;
  z-index: 999;
}

/* Main styles mobile */

/*** HERO: Spice Program home page + Chilicorn Fund home page ***/

.hero {
  color: #000;
  text-align: center;
  padding: 40px 0 0px 0;
  margin-bottom: 0px;

  p, h2 {
    font-size: $size-medium;
    font-weight: 300;
    max-width: 20em;
    margin: auto;
    opacity: 0.7;
    font-family: "space mono";
  }

  a, a:visited {
    color: #000;
  }

  h1 {
    color: #000;
  }

  img.chilicorn {
    width: 40%;
    max-width: 400px;
    height: auto;
    margin-bottom: 20px;
  }

  @media screen and (min-width: $mobile) {
    padding-top: 60px;
  }

  @media screen and (min-width: $tablet) {
    padding-top: 120px;
  }
}

/***/

p + ul {
  padding-top: 10px;
}

section {
  padding: $section-padding 0;
}

footer {
  padding: 40px 0;
  font-size: $size-small;
}

.btn {
  background-color: #333;
  padding: 10px 20px;
  margin: 10px 0;
  border-bottom: none;
  display: inline-block;
  color: #fff;
}

.btn:hover {
  border-bottom: none;
  background-color: #333;
}

/*** Section Freetime ***/
section.freetime {
  margin-top: 150px;
  color: rgba(255,255,255,0.9);
  background-color: #615a47;
  background-image: url('../img/dj-back-s.jpg');
  background-position: 30% 20%;
  background-repeat: no-repeat;
  background-size: cover;

  p {
    padding-bottom: 0.5em;
  }
  strong {
    color: #fff;
  }

  .links {
    padding-top: 60px;
    padding-bottom: 0;
  }

  .how {
    @include span(full);
    padding-top: $h-padding;
    margin-bottom: 1em;
  }

  @media screen and (min-width: $tablet) {
    background-image: url('../img/dj-back.jpg');
    background-position: 40% 40%;
    background-size: cover;

    .how {
      @include span(5 of 12);
    }
    .how-left {
        @include pre(1);
    }
    .how-right {
        @include post(1);
    }
  }
}

/**** PARTNERSHIPS ****/

.partnerships {
  background-color: #31376a;
  background-position: 50% 20%;
  background-repeat: no-repeat;
  background-image: url('../img/partnerships.jpg');
  background-size: cover;
}

.section-header {
  text-align: center;
  max-width: 600px;
  margin: auto;
  padding-bottom: $h-padding;

  img {
    padding-bottom: 15px;
  }
}

.section-body {
  text-align: center;
  margin-bottom: 50px;
  max-width: 600px;
  margin: auto;
  padding-bottom: $h-padding;
  .question {
    width: 100%;
    margin: 0 auto;
  }
}

.shortphrase {
  font-weight: normal;
  font-size: $size-medium;
}

.probono p.shortphrase {
  max-width: 30em;
}

.learn-more {
  h3 {
    padding-bottom: 50px;
  }
}

.track-block, .how, .contribute-column, .aim, .quote {
  padding-bottom: $h-padding;

  @media screen and (min-width: $mobile) {
    padding-bottom: 0;
  }
}

section.probono {
  background-color: #ececec;
}

.centered {
  text-align: center;
}

/**** OUR WORK  ****/

.track-block {
  img {
    width: 100%;
  }  
}

.new-line {
  @include break;
}

.track-block-txt {
  position: relative;
  margin: 0 30px;
  padding: 15px 20px 0px 20px;
  top: -50px;
  background-color: #fff;
}

.track-cta {
  text-align: center;
}

.track-img {
  height: 300px;
  background: url('../img/track-education.jpg');
  background-size: cover;
}

@media screen and (min-width: $desktop) {
  .track-block {
    @include span(6); 
  }
}

/****** Further links *******/

.links {
  @include span(12);
  text-align: center;
  max-width: 600px;
  margin: auto;
  padding-bottom: 30px;
  max-width: 100%;
  padding-top: 10px;

  p {
    max-width: 100%;
  }
}

/***** Contribute ******/

section.contribute {
  background-color: #493b21;
  background-image: url('../img/bg-chilicorn-blur-s.jpg');
  background-size: cover;

  >.container {
    ul, p {
      text-align: center;
    }
  }

  @media screen and (min-width: $mobile) {
    background-image: url('../img/bg-chilicorn-blur.jpg');
  }

  @media screen and (min-width: $tablet) {
    .contribute-column {
      @include span(6 of 12);
      margin-top: 20px;
      .sameheight {
        min-height: 180px;
      }
    }
    .contribute-column.last {
      @include pre(3);
      @include post(3);
      margin-top: 40px;
    }
  }

  @media screen and (min-width: $desktop) {
    .contribute-column {
      @include span(4 of 12);
      margin: auto;
      .sameheight {
        min-height: 220px;
      }    
    }
    .contribute-column.last {
      @include pre(0);
      @include post(0);
      margin-top: 0px;
    }
  }
}

/*****/

.white {
  color: #FFF;

  a, a:hover, a:visited, p, h1, h2, h3 {
    color: #FFF;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  }

  a.btn, a.btn:hover, a.btn:visited {
    text-shadow: none;
    background-color: $blue;
  }
}

/*** AIMS ***/

.aims {
  margin-top: 60px;
  text-align: center;

  img {
    max-width: 220px;
  }

  .aim {
    margin-bottom: $item-spacing;
  }

  @media screen and (min-width: $tablet) {
    .aim {
      @include span(4);
    }  

    img {
      margin-bottom: 10px;
    }    
  }
}

/**** QUOTES ****/

section#comments .section-header {
  padding-bottom: 2em;
}

.quote {
  @include span(6);
  margin-bottom: $item-spacing;

  p, blockquote {
    font-size: $size-medium;
    line-height: 1.2em;
    text-align: center;
    margin: auto;
    max-width: 400px;
    padding-bottom: 1em;
    padding-top: 1.2em;
  }

  blockquote > span {
    font-size: 3 * $size-medium;
    font-family: arial;
    opacity: .3;
    display: block;
    float: left;
    padding-top: $size-base;
  }

  img {
    max-width: 75px;
    margin: auto;
    display: block;
    @media screen and (min-width: $mobile) {
      max-width: 130px;
    }
  }

  .name {
    font-size: $size-base;
    font-weight: bold;
    margin-top: 0.2em;
    color: $gray-text;    
  }

  .role {
    color: $gray-text-lighter;
    font-weight: normal;
  }

  @media screen and (max-width: $mobile) {
    @include span(full);
  }
}

#comments {
  padding-bottom: 2 * $section-padding;
}

/*** CARDS ***/
.card {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  max-width: 310px;
  padding: 8px 5px;
  text-align: left;

  .card__inner {
    background: #fff;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    text-decoration: none;

    a {
      text-decoration: none;
      border-bottom: 1px solid;  
    }

    a.card__cover {
      border-bottom: none;
    }    
  }

  .card__cover {
    display: block;
    position: relative;
    background: #e3ecec;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    overflow: hidden;
    
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }

  .card__body {
    font-size: $size-base;
    padding: 20px;
    overflow: hidden;
    overflow: hidden;
    text-align: left;
  }

  .card__title {
    font-weight: 800;
    letter-spacing: 0.03em;
    margin: 0;
    margin-bottom: 9px;
  }

  .card__summary {
    text-align: left;
    font-weight: 300;
    margin: 0;
  }
}

@media screen and (max-width: $mobile) {
  .card {
    max-width: auto;
  }
}

@media screen and (max-width: $tablet) {
  .card {
    max-width: 450px;
  }
}

@media screen and (max-width: $desktop) {
  .card {
    .card__body {
      height: 150px;
    }
  }
}

@media screen and (min-width: $desktop) {
  .card__inner {
    height: 400px;
  }
} 

/**** CONTACT ****/

section.contact {
  background-color: #EFEFEF;

  h3 {
    font-size: $size-base;
  }

  img {
    max-width: 50%;
  }

  .contact-block {
    background-color: white;
    text-align: center;
    margin: 12px 0px;
    overflow: hidden;
    padding: 24px;
    vertical-align: top;
    width: auto;
  }

  .contact-details {
    font-size: $size-small;
  }

  .contact-name {
    padding-top: 20px;
  } 

  .contact-position {
    padding-bottom: 0.5em;
    line-height: 1.3;
    color: $blue;
    font-weight: 600;
    font-size: $size-base*0.9;
  }

  @media screen and (min-width: $mobile) {
    text-align: center;

    img {
      margin-top: 20px;
      margin-bottom: 20px;
      margin-right: 20px;
      max-width: 30%;
      height: auto;
      float: left;
    }

    .contact-block {
      text-align: left;
    }
  }

  @media screen and (min-width: $tablet) {
    .contact-block {
      min-height: 380px;
    }

    img {
      float: none;
      max-width: 200px;
      margin-bottom: 0;
    }

    .contact-block {
      display: inline-block;
      margin-right: 20px;
    }

    .contact-details {
      margin-top: 0px;
    }
  }
}

// The Chilicorn Fund page styles
@import "fund";