---
---
@import "susy";

$susy: (
  columns: 12,
  gutters: 1,
  math: fluid,
  output: float,
  gutter-position: inside,
);

/* Grid cointainer */
.container {
  @include container; 
  width: 1200px;
  max-width: 90%;
  position: relative;
  text-align: center;
}

/* General Breakpoints */
$mobile: 500px;
$tablet: 800px;
$desktop: 1024px;

/* General measures */
$h-padding: 10px;
$section-padding: 90px;

/* Typographic scale. Only use these font-sizes */
/*$size-tiny: 12px;
$size-small: 14px;
$size-base: 16px;
$size-medium: 22px;
$size-large: 30px;
$size-huge: 58px;*/


$size-tiny: 12px;
$size-small: 14px;
$size-base: 18px;
$size-medium: 23px;
$size-large: 38px;
$size-huge: 53px;

/* Colours */
$body: #4A515E;
$headlines: #303031;
$blue: #45A4FC;
$gray-text: #6b6b6b;
$gray-text-lighter: #9c9c9c;

/* Resets */
* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

/* Main styles */
h1 {
  text-align: center;
  font-size: $size-huge;
  font-weight: 700;
  padding-bottom: 10px;
  font-family: "Space mono";
}

h2 {
  font-size: $size-huge;
  font-weight: 400;
  padding-bottom: 30px;
}

h3 {
  font-size: $size-medium;
  padding-bottom: 15px;
  padding-top: 15px;
  font-weight: 500;
}

h4 {
  font-size: $size-medium;
}

h1, h2, h3, h4 {
  line-height: 1.1;
  color: $headlines;
}

p {
  max-width: 30em;
  margin: auto 0;
  text-align: center;
  padding-bottom: 0.5em;
}

a {
  color: #333;
}

ul {
  list-style-type: square;
}

li {
  margin-left: 20px;
  padding-bottom: 10px; 
}

a, a:visited, a:hover {
  text-decoration: none;
  border-bottom: 1px solid;
}

html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;;
  font-size: $size-base;
  text-rendering: optimizeLegibility;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  color: $body;
}

.sticker {
  position: absolute;

}
.hero {
  color: #000;
  text-align: center;
  padding: 120px 0 0px 0;
  margin-bottom: 0px;

  p {
    font-size: $size-medium;
    font-weight: 300;
    max-width: 20em;
    margin: auto;
    opacity: 0.7;
    font-family: "space mono";
  }

  a, a:visited {
    color: #000;
  }

  h1 {
    color: #000;
  }

  img.chilicorn {
    width: 400px;
    height: auto;
    margin-bottom: 20px;
  }
}


p + ul {
  padding-top: 10px;
}

section {
  padding: $section-padding 0;
}

footer {
  padding: 40px 0;
  font-size: $size-small;
}

.btn {
  background-color: #333;
  padding: 10px 20px;
  margin: 10px 0;
  border-bottom: none;
  display: inline-block;
  color: #fff;
}

.btn:hover {
  border-bottom: none;
  background-color: #333;
}


/*** Section Freetime ***/
section.freetime {
  margin-top: 150px;
  color: rgba(255,255,255,0.9);

  p {
    padding-bottom: 0.5em;
  }
  strong {
    color: #fff;
  }

  background: url('../img/dj-back.jpg') 50% 40% no-repeat;
  background-size: cover;


/*    .sticker {
    display: none;
    }

  @media screen and (min-width: $desktop) {
    .sticker {
      display: block;
      position: absolute;
      left: 90%;
      width: 300px;
      transform: rotate(-175deg);
    }
  }
  */


}

/**** PARTNERSHIPS ****/

.partnerships {
  background: url('../img/partnerships.jpg') 50% 20% no-repeat;
  background-size: cover;
}


.partnerships .question {


}

.section-header {
  text-align: center;
  max-width: 600px;
  margin: auto;
  padding-bottom: $h-padding;


  img {
    padding-bottom: 15px;
  }
}

.section-body {
  text-align: center;
  margin-bottom: 50px;
  max-width: 600px;
  margin: auto;
  padding-bottom: $h-padding;
  .question {
    width: 100%;
    margin: 0 auto;
  }

}

.shortphrase {
  font-weight: normal;
  font-size: $size-medium;
}

.probono p.shortphrase {
  max-width: 30em;
}

.learn-more {

  h3 {
    padding-bottom: 50px;
  }

}

.track-block, .how, .contribute-column, .aim, .quote {
  padding-bottom: $h-padding;

  @media screen and (min-width: $mobile) {
    padding-bottom: 0;
  }
}

section.probono {
  background-color: #ececec;

}

.centered {
  text-align: center;
}

.track-block {
  @include span(6);

  img {
    width: 100%;
  }
  
  @media screen and (max-width: $mobile) {
    @include span(full);
  }
}
.new-line {
  @include break;
}

.track-block-txt {
  position: relative;
  margin: 0 30px;
  padding: 15px 20px 0px 20px;
  top: -50px;
  background-color: #fff;
}

.track-cta {
  text-align: center;
}

.track-img {
  height: 300px;
  background: url('../img/track-education.jpg');
  background-size: cover;
}

.how {
  @include span(full);
  @media screen and (min-width: $mobile) {
    @include span(5 of 12);
  }
  padding-top: $h-padding;
  margin-bottom: 1em;
}

.how-left {
  @media screen and (min-width: $mobile) {
    @include pre(1);
  }
}

.how-right {
  @media screen and (min-width: $mobile) {
    @include post(1);
  }
}


/****** Further links *******/
.links {
    @include span(12);
    text-align: center;
    max-width: 600px;
    margin: auto;
    padding-bottom: 30px;
    max-width: 100%;
    padding-top: 10px;
    
    p {
      max-width: 100%;
    }
}

section.freetime .links {
  padding-top: 60px;
}


/******/

/***** Contribute ******/

section.contribute {
    background: url('../img/bg-chilicorn-blur.jpg');
    background-size: cover;

  >.container {

    ul, p {
    text-align: left;
    }
  }
}

.contribute-column {
  @include span(full);

  @media screen and (min-width: $mobile) {
    @include span(4);
    .sameheight {
      min-height: 220px;
    }
    //@include pre(1); 
    //@include post(1);
  }
}

.white {
  color: #FFF;

  a, a:hover, a:visited, p, h1, h2, h3 {
    color: #FFF;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  }

  a.btn, a.btn:hover, a.btn:visited {
    text-shadow: none;
    background-color: $blue;
  }

}

.aims {
  margin-top: 60px;
  text-align: center;
  .aim {
    @include span(4);
    //text-align: center;

    @media screen and (max-width: $mobile) {
      @include span(full);
    }
    img {
      margin-bottom: 10px;
    }
  }
}

/**** QUOTES ****/

section#comments .section-header {
  padding-bottom: 2em;
}

.quote {
  @include span(6);

  margin-bottom: 60px;

  p, blockquote {
    font-size: $size-medium;
    line-height: 1.2em;
    //font-style: italic;
    text-align: center;
    margin: auto;
    max-width: 400px;
    padding-bottom: 1em;
    padding-top: 1.2em;
  }

  blockquote>span {
    font-size: 3 * $size-medium;
    font-family: arial;
    opacity: .3;
    display: block;
    float: left;
    padding-top: $size-base;
  }

  img {
    max-width: 75px;
    margin: auto;
    display: block;
    @media screen and (min-width: $mobile) {
      max-width: 130px;
    }
  }

  .name {
    font-size: $size-base;
    font-weight: bold;
    margin-top: 0.2em;
    color: $gray-text;    
  }

  .role {
    color: $gray-text-lighter;
    font-weight: normal;
  }

  @media screen and (max-width: $mobile) {
    @include span(full);
  }
}

#comments {
  padding-bottom: 2*$section-padding;
}


/*** CARDS ***/
.card {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  max-width: 310px;
  padding: 8px 5px;
  text-align: left;

  @media screen and (min-width: $mobile) {
    max-width: 270px;
  }
  @media screen and (min-width: $tablet) {
    max-width: 300px;    
  }

 @media screen and (min-width: $desktop) {
    @include span(4);
    &:first-of-type {
      @include pre(3);
    }
  } 




  .card__inner {
    background: #fff;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    text-decoration: none; 
    a {
      text-decoration: none;
      border-bottom: none;  
    }
    
  }

  .card__cover {
    display: block;
    position: relative;
    background: #e3ecec;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    overflow: hidden;
    

    img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    }
  }
  .card__body {
    font-size: $size-base;
    padding: 20px;
    height: 180px;
    text-align: left;
    overflow: hidden;
  }
  .card__title {
    font-weight: 800;
    letter-spacing: 0.03em;
    margin: 0;
  }
  .card__summary {
    text-align: left;
    font-weight: 300;
    margin: 0;
  }


}

/***  CONTACT ****/
section.contact {
  background-color: #EFEFEF;
  
  p, span, h3 {
  text-align: left;
  }

  img {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    max-width: 150px;
    float: left;
  }

  .contact-block {
    background-color: white;
    text-align: left;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 30px;

   @media screen and (min-width: $mobile) {
      @include span(5 of 12);
    } 
  }

  .left {
    @media screen and (min-width: $mobile) {
      @include pre(1);
    }

    }

  .center {
    @media screen and (min-width: $mobile) {
      @include pre(4);
    }

  }


/*  .right {
    @media screen and (min-width: $mobile) {
      @include post(1);
    }
  }
*/

  .contact-name {
    padding-top: 20px;
  } 
  .contact-details {
    margin-top: 10px;

  }

  .contact-position {

  }

  .contact-phone {

  }

  .contact-email {

  }
}


