---
layout: default
title: Spice Program - Summer of Love initiative
---

<div class="container content centered">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 top-level">
            <h1>Summer of Love initiative</h1>
            <div>Description on our initiative to open source our in-house developed systems</div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <p class="quote">"I understand that we're smarter than me. That's one reason I like the idea of sharing." --Toba Beta, Master of Stupidity
</p>
        </div>
        <div class="col-md-8 col-md-offset-2 article">
            {% capture sol %}{% include summer-of-love.md %}{% endcapture %}
            {{ sol | markdownify }}
    </div>
</div>

{% include bottom-banner.html %}
