header(style="height: 30px;")#topnav
    a(href="http://www.futurice.com")
        img(src="futurice_logo_basic_rgb_no_text.svg", style="max-height: 100%;")
    a#menu(href="#")
        div.burger &#9776;