!!!
html
  head
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.0/normalize.min.css", type="text/css")
    link(rel="stylesheet", href="main.css")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700", type="text/css")

    script(src="classie.js")
    script(src="app.js")
  body
    nav#menu-content.cbp-spmenu.cbp-spmenu-vertical.cbp-spmenu-right
        h3(style="float: left;") Menu
        a(href="#", style="float: right;")#close &#10006;
        div(style="clear:both;")
        a(href="/") Landing page
        a(href="/choosing") Choosing a license
        a(href="/licenses") Popular Open Source licenses
        a(href="/cc") Creative Commons
        a(href="/history") Brief history of OSS
        a(href="/why") Why are we doing this?
        a(href="/howto") How to establish a similar program?
    != yield

    footer
        p Authored by Teemu Turunen, Matias Kirvel&auml; and <a href="https://github.com/mkirvela/spice-doc-source/graphs/contributors" alt="others">others</a>.
        p This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
