!= partial("_header")

div.padded(style="padding-top: 2%;")
    div
        img(src="cc.svg", style="width: 500px;").image-scale
    h1 Creative commons
    p.quote "Open source isn't about saving money, it's about doing more stuff, and getting incremental innovation with the finite budget you have." --Jim Whitehurst, CEO, Red Hat 
div
    div.sticky-list#sticky-list
        div(style="padding: 3%")
            a(href="cc")
                div(style="text-align: center; padding-right: 2%;")
                    strong.orange Creative Commons
                    p &rarr; What is creative commons? How can it be used?
            a(href="choosing")
                div(style="text-align: center; padding-right: 2%;")
                    strong.orange Choosing a license
                    p &rarr; How to choose the best license for your work?
    div.next-to-sticky.cc
        div!= partial("_articles/creative-commons.md")
    div.clear