!= partial("_header")

div.padded(style="padding-top: 2%; padding-bottom: 2%;")
    div
        img(src="choose_big.svg", style="width: 500px;").image-scale
    h1 Choosing a license
    p.quote "Liberty is the right to do what I like; license, the right to do what you like." --Bertrand Russel

div.thin-padded
    h3(style="text-align: center;") Which license to choose?

    div Creative Commons organization has released copyright licenses to allow you to easily define how people can make use of your creative work. CC is split into multiple licenses based on what you want to permit. It is widely used for pictures, music, videos and academic material and has been dubbed as 'some rights reserved' copyrights.

div(style="padding: 3%")
    div.image-wrapper
        img(src="choosinglicence.png").image-scale

div.thin-padded
    h3(style="text-align: center;") Can I use this work?

    div Creative Commons organization has released copyright licenses to allow you to easily define how people can make use of your creative work. CC is split into multiple licenses based on what you want to permit. It is widely used for pictures, music, videos and academic material and has been dubbed as 'some rights reserved' copyrights.

div(style="padding: 3%")
    div.image-wrapper
        img(src="using.png").image-scale