---
layout: activity
title: Spice Program - Education
header: Education
description: Supporting the digital skills of this age.
background-image: /assets/img/bg-open-source.jpg
---


<div class="row">

  <div class="col-sm-12 col-md-8">
    <div class="row">
      <div class="col-sm-12 center col-header">
        <div>
          <h2>Recent posts</h2>
          <a href="/blog">See all posts</a>
        </div>
      </div>
    </div>
    <div class="row">
      {% for blog in site.data.blogs limit:5 %}
        {% if blog.tag == "education" %}
          <a href="{{ blog.link }}" class="col-xs-12 col-sm-6 post-box">
     
            <div class="img-container">
              <img src="{{ blog.img_link }}" class="blog-img">
            </div>
            <div class="blog-info">
              
              <h3 class="blog-title">{{ blog.title }}</h3>
              <p class="blog-description">{{ blog.description }}</p>
         
            </div>
          </a>
        {% endif %}
 
      {% endfor %}


     
    </div>
  </div>

  <div class="col-sm-12 col-md-4">
    <div class="row">
      <div class="col-sm-12 center col-header">
        <div>
          <h2>Guides</h2>
        </div>
      </div>
    </div>
    <div class="row">
       <div class="col-xs-12 col-sm-6 col-md-12 guide-box">
        <div class="guide-information">
          <h3 class="guide-title">Organise your own code school!</h3>
          <p>...</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-12 guide-box">
        <div class="guide-information">
          <h3>Would you be up to mentor a teacher?</h3>
          <p>...</p>
        </div>
      </div>
    </div>
  </div>


</div>
  

<div class="row">
  <div class="col-md-12 center">
    <h2 class="section-title no-padding-bottom">Events &amp; projects</h2>
    <a href="/projects">See all education related projects</a>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h4 class="underlined">FUTURICE</h4>
  </div>
</div>

<!-- COMPANY EVENTS -->
{% for project in site.data.futurice-education-events %}
  {% assign loopindex = forloop.index | modulo: 3 %}

  {% if loopindex == 1 %}
  <div class="row project-row">
  {% endif %}
    <div class="col-xs-12 col-sm-6 col-md-4 project">
      <div class="project-box">
        <div class="row">
          <div class="col-xs-4">
            <div class="img-container">
              <img src="{{ project.img_link }}" class="project-img">
            </div>
          </div>
          <div class="col-xs-8">
            <div class="project-information">
              
              <a href="http://koodikoulu.fi">
                <h3 class="project-title">{{ project.title }}</h3>
                <p>{{ project.date }}</p>
                <p>{{ project.location }}</p>
              </a>
      
            </div>
          </div>
        </div>
        <div class="row project-box-footer">
          <div class="col-xs-6">
            <a href="{{ project.github }}">Github</a>
          </div>
          <div class="col-xs-6">
            <a href="/#">Project page</a>
          </div>

        </div>
      </div>
    </div>


     
  {% if loopindex == 0 %}
  </div>
  {% endif %}

  {% if forloop.last == true %}
    {% if loopindex != 0 %}
    </div>
    {% endif %}
  {% endif %}

{% endfor %}


