<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>

    <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TJHK5D"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
        <header>
        </header>

        {{ content }}
        <footer>
            <div class="container">
                <p>Copyright: <a href="https://futurice.com">Futurice Oy</a>, 2018</p>
                <p>Contact: <a href="mailto:spice@futurice.com">spice@futurice.com</a></p>
                <p>Information about <a href="https://spiceprogram.org/cookies.html">our use of cookies on this site.</a></p>
            </div>
        </footer>
    </body>
</html>
