<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>

    <body id="page-{{ page.pageclass }}" {% if page.background-image != %} style="background-image: url({{ page.background-image }});" {% endif %}>

        {% include nav-bar.html %}

        <div class="hero dark">
            <div class="container">
                <div class="row-fluid activity-header">
                    <div class="col-md-12 title">
                        <h1 class="title">{{ page.header }}</h1>
                    </div>

                    <div class="col-md-6 col-md-offset-3 description">
                        <p class="lead">{{ page.description }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-bg">
            <div class="container page">
                <div class="row">
                	<div class="col-sm-12">
                		{{ content }}
                	</div>
                </div>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
